.container {
    flex: 2;

    background-color: var(--bg);

    padding: 20px;

    min-height:100vh;

    display: flex;
    flex-direction: column;
    
    position: sticky;

    top: 0;
    left: 0;

    gap: 30px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quantity {
    font-size: 14px;
    font-weight: bold;
}

.line {
    width: 100%;
}

.button {
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    
}


.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:1024px) {
    .container {
        display: none;
    }
}