.container {
    direction: rtl;
    padding: 80px 165px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.top {
    padding: 14px 0;
    display: flex;
    gap: 10px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #3A3845;
}

.top > .trashCan {
    text-align: center;
    padding: 0 15px;
    flex: 1;
}

.top > .photo {
    text-align: center;
    /* padding: 0 41.5px; */
    flex: 2;
}

.top > .product {
    text-align: center;
    /* padding: 0 173.5px; */
    flex: 8;
}

.top > .price {
    text-align: center;
    /* padding: 0 69.5px; */
    flex: 3;
}

.top > .quantity {
    /* padding: 0 47px; */
    text-align: center;
    flex: 2;
}

.top > .subTotal {
    text-align: center;
    /* padding: 0 49px; */
    flex: 3;
}

.cartsContainer {
    display: flex;
    flex-direction: column;
}

