.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.swiper {
    width: 100%;
}

.swiperThumb {
    width: 100%;

}

.imageContainer {
    width: 100%;
    height: 600px;
}

.thumbImageContainer {
    max-width: 100px;
    aspect-ratio: 1/1;

    position: relative;

        
}

.image {
    object-fit:cover;
}

@media screen and (max-width:440px) {
    .imageContainer {
        height: 500px;
    }
}


