.container {
    padding: 70px 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.wrapper {
    padding: 20px 40px;

    border-radius: 5px;

    height: 70vh;

    background-color: var(--bgSoft);
    
    display: flex;
    flex-direction: column;
}

.linksContainer {
    height: 100%;
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;

}

.item {
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    
    background-color: var(--bg);
    padding: 15px;

    text-align: center;

    transition: all 0.1s ease-in-out;

}

.item:hover {
    color: var(--primary);

    box-shadow: 0 0 20px -5px var(--primary);
}

.title {
    font-size: 20px;
    font-weight: bold;
}