.container {
    width: 100%;
    display: flex;
    justify-content: center;
}


.slide {
    /* width: min-content; */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    color: #3A3845;
    font-weight: bold;
}