
.container{
    position: relative;
    --button : transparent;
    --button-text : transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:  1px solid var(--bgSoft);
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 0px 20px 0;
}
.container:hover {
    border: 1px solid black;
    --button : white;
    --button-text : var(--textSoft);
}




.imageContainer {
    position: relative;
    width: 250px;
    background: red;
    aspect-ratio: 1/1;
}

.colors {
    margin: 0 5px;
    display: flex;
    justify-content: right;
    gap: 5px;
}

.textContainer {
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.brand {
    font-weight: 600;
}

.name {
    font-weight: 400;
}

.addButton {
    cursor: pointer;
    width: calc(100% + 2px);
    position: absolute;
    bottom: -25px;
    border: none;
    font-weight: 600;
    font-size: 18px;
    padding: 12px;
    background: var(--button);
    color: var(--button-text);
    border: 1px solid var(--button-text);
}

.addButton:hover {
    background:var(--button-text);
    color: var(--button);
}