.container {
    flex: 2;

    background-color: var(--bg);

    padding: 20px;

    min-height:100vh;

    display: flex;
    flex-direction: column;
    
    position: sticky;

    top: 0;
    left: 0;

    gap: 30px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quantity {
    font-size: 14px;
    font-weight: bold;
}

.line {
    width: 100%;
}

.button {
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    
}

.mobileCloseButton {
    background-color: transparent;
    display: none;
}

.mobileFilterButton {

    z-index: 999;

    display: none;
    
    padding: 10px;
    
    background-color: var(--primary);

    position: fixed;


    bottom: 10px;

    left: 10px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:440px) {

    .mobileFilterButton {

        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .mobileCloseButton {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container {
        padding: 10px 15px;

        z-index: 999;
        
        position: absolute;

        width: 100%;

    }
}