
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:VaziRR;
  direction: rtl;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  
}

.wrapper {
  padding: 80px 165px;

}

@media screen and (max-width:1536px) {
  .wrapper {
    padding: 60px 120px;
  }
}

@media screen and (max-width:1024px) {
  .wrapper {
    padding: 30px 60px;
  }
}

@media screen and (max-width:768px) {
  .wrapper {
    padding: 10px 20px;
  }
}

@media screen and (max-width:440px) {
  .wrapper {
    padding: 10px 0px;
  }
}

.rs-slider-progress-bar {
  background-color: var(--primary) !important;
}

.rs-slider-handle {  
  border: 1px solid var(--primary);
}

:root {
  --text:#2d0800;
  --textSoft:#58342d;
  --bg:#fefefe;
  --bgSoft:rgb(228, 228, 228);
  --primary:#55322c;
  --brand:crimson;
  --neutral800:#19213D;
}
@font-face {
  font-family: "TV";
  src: url(/fonts/Far_TV.ttf);
  weight: 400
}

@font-face {
  font-family: VaziRR;
  src: url(/fonts/Vazir.ttf);
  weight: 400
}

@font-face {
  font-family: VazirRR;
  src: url(/fonts/Inter.ttf );
  weight: 400
}


