.container {
  direction: rtl;
  

}

.wrapper {
  padding: 10px 165px;

  display: flex;
  flex-direction: column;

  gap: 20px;

}


@media screen and (max-width:1536px) {
  .wrapper {
    padding: 60px 120px;
  }
}

@media screen and (max-width:1024px) {
  .wrapper {
    padding: 30px 60px;
  }
}

@media screen and (max-width:768px) {
  .wrapper {
    padding: 10px 0px;
  }
}

