.container {
  text-align: right;
  display: flex;
  flex-direction: column;
}
.categoryContainer {
  padding: 80px;    
  display: flex;
  justify-content: center;
  gap: 30px;  
}

.topSaleContainer {
  padding: 80px 165px;    
}

.title {
  font-family: TV;
  font-size: 30px;
  text-align: center ;
}