.container {
  text-align: right;
  display: flex;
  flex-direction: column;
}
.categoryContainer {
  padding: 80px;    
  display: flex;
  justify-content: center;
  gap: 30px;  
}

.topSaleContainer {
  width: 100%;
  padding: 80px 165px;    
}

.title {
  font-family: TV;
  font-size: 30px;
  text-align: center ;
  margin-bottom: 48px;
}

.products {
  width: 100%;
  display: flex;
  justify-content: center ;
  gap: 30px;
  flex-wrap: wrap;
}