.desc {
    display:none;
}

.mobile {
    display:none;
}

@media screen and (max-width:2000px) {
    .desc {
        display: block;
    }
    .mobile {
        display: none;
    }
}


@media screen and (max-width:1024px) {
    .desc {
        display: none;
    }
    .mobile {
        display: block;
    }
}