.container {
    height: 82px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: gainsboro;
}

.logoContainer {
    width: 145px;
}

.links {
    display: flex;
    gap: 60px;
    justify-content: center;
}

.icons {
    display: flex;
    gap: 24px;
}