.container {
    overflow-x: hidden;

    height: 82px;
    display: flex;

    justify-content:space-around;
    
    align-items: center;
    background-color: gainsboro;
}

.logoContainer {
    width: 145px;
}

.links {
    display: flex;
    gap: 60px;
    justify-content: center;
}

.link {
    cursor: pointer;
}

.icons {
    display: flex;
    gap: 24px;
}

@media screen and (max-width:768px) {
    .links {
        display: none;
    }
}
