.container {
    display: flex;
    flex-direction: column;
    gap: 18px;
    font-size: 14px;
}

.square {
    width: 18px;
    height: 18px;
    border: 1px solid black;
}

.squareActive {
    background-color: black;
}

.title {
    font-size: 14px;
    font-weight: bold;
}

.item {
    cursor: pointer;
    color: #374151;
    display: flex;
    align-items: center;
    gap: 12px;
}
