.container {
    padding: 80px 165px;
    direction: rtl;
    display: flex;
    gap: 25px;
}

.main {
    flex: 7;
    position: relative;
}


.filterWrapper {
    flex: 3;
}

.products {
    width: 100%;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
