.container {
    direction: rtl;
    display: flex;
    gap: 25px;
}

.main {



    padding: 0;
    flex: 7;
    position: relative;

    display: flex;
    flex-direction: column;
}


.filterWrapper {
    flex: 2;
}

.products {

    width: 100%;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}


@media screen and (max-width:440px) {

    .container {
        display: block;
    }

    .main {
        width: 100%;
        padding: 0;
    }

    .products {

        width: 100%;
        display: flex;
        gap: 5px;
        flex-wrap: wrap;
    }
    
}