.container {
    direction: rtl;
    display: flex;
    gap: 25px;
}

.main {

    padding: 0;
    flex: 7;
    position: relative;
}


.filterWrapper {
    flex: 2;
}

.products {
    width: 100%;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
